#navbarSupportedContent{
    display : flex !important;
    margin-left: 160px;
}


.team-slider{

    display : flex !important;
    justify-content: center;
}

.att_details{
    display : flex !important;
    justify-content: space-between;
}