
{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block body %}
<div class="h-screen bg-gray-300 px-2">
    <div class="max-w-md mx-auto bg-white rounded-lg overflow-hidden md:max-w-lg">
        <div class="md:flex">
            <div class="w-full">
                <div class="p-4 border-b-2"> <span class="text-lg font-bold text-gray-600">Add documents</span> </div>
                <div class="p-3">
                <form class="form" action="/excel/" method="post" enctype="multipart/form-data">
                      {% csrf_token %}
                    <div class="mb-2"> <span class="text-sm">Class</span><br> 
                        
                    <select name="class" id="select1" class="h-12 px-3 w-full border-gray-200 border rounded focus:outline-none focus:border-gray-300">
                    {% for class in classes %}
                  <option value="{{class.classname}}">{{class.classname}}</option>
                    {% endfor %}
                    </select>
                    <a href='/addclass'>Your Class Not in List ? Add Class </a>
                     </div>
                     <div class="mb-2"> <span class="text-sm">Subject</span>
                        
                        <select name="subject" id="select2" class="h-12 px-3 w-full border-gray-200 border rounded focus:outline-none focus:border-gray-300">
                    
                        {% for subject in subjects %}
                  <option class={{subject.classname}} value="{{subject.subjectname}}">{{subject.subjectname}}</option>
                    {% endfor %}
                    </select>
                    <a href='/addsubject'>Your Subject Not in List ? Add Subject </a>
                </div>
                <div class="mb-2"> <span class="text-sm">Date </span>
                        
                    <input type="date" name="date" class="form-control" >
                
                </div>
                    <div class="mb-2"> <span>Attachments</span>
                        <div class="relative h-40 rounded-lg border-dashed border-2 border-gray-200 bg-white flex justify-center items-center hover:cursor-pointer">
                            <div class="absolute">
                                <div class="flex flex-col items-center "> <i class="fa fa-cloud-upload fa-3x text-gray-200"></i> <span class="block text-gray-400 font-normal">Attach you files here</span> <span class="block text-gray-400 font-normal">or</span> <span class="block text-blue-400 font-normal">Browse files</span> </div>
                            </div> 
 
                       <input accept=".csv" id="csv_file" type="file" class="h-full w-full opacity-0" name="excel">

   
                        </div>
                        <div class="flex justify-between items-center text-gray-400"> <span>Accepted file type:.csv only</span> <span class="flex items-center "><i class="fa fa-lock mr-1"></i> secure</span> </div>
                    </div>
                    <label id="filename"></label>
                    <div class="mt-3 text-center pb-3"> <button class="w-full h-12 text-lg w-32 bg-blue-600 rounded text-white hover:bg-blue-700">Submit</button> </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}